<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style>
        body {
            width: 800px;
            margin: auto;
        }

        div {
            margin: 25px 0;
        }

        form.delete {
            display: inline;
            margin: 25px 0;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <h2>Choose course:</h2>

        <form th:method="POST" th:action="@{/addStudent}">
            <th:block th:each="course : ${courses}">
                <label>
                    <input th:id="${course.getCourseId()}" type="radio" name="course" th:value="${course.getCourseId()}"
                           th:text="${course.getName()}">
                </label>
            </th:block>
            <button type="submit" value="submit">Submit</button>
        </form>
    </th:block>

    <div th:each="course : ${courses}">
        <p th:text="${course.getName()}"></p>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <form class="delete" th:method="DELETE" th:action="@{'/courses/delete/{id}' (id=${course.getCourseId()})}">
                <button type="submit">Delete</button>
            </form>
            <a th:href="@{'/courses/edit/{id}' (id=${course.getCourseId()})}">Edit</a>
        </th:block>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/courses/add}">Add new course</a>
    </div>

    <div th:if="${hasError}">
        <p th:text="'Error: ' + ${error}"></p>
    </div>
</main>
</body>
</html>