<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<form th:method="POST" th:action="@{/courses/users}">
    Users:
    <ul>
        <li th:each="user : ${users}" th:text="${user.getUsername() + ' | ' + user.getRole().toString()}"></li>
    </ul>
    <br>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <label for="user">User</label>
        <select name="user" id="user">
            <option th:each="user : ${users}" th:value="${user.getUsername()}" th:text="${user.getUsername()}"></option>
        </select>
        <br>
        <label for="role">Role</label>
        <select name="role" id="role">
            <option th:each="role : ${roles}" th:value="${role.toString()}" th:text="${role.toString()}"></option>
        </select>
        <button type="submit">Submit</button>
    </th:block>
</form>
</body>
</html>